/*
.title {
    color: green;
}
*/

@font-face {
    font-family: chromatica;
    src: url(ChromaticaTrial/ChromaticaTrial-Regular.otf);
}
@font-face {
    font-family: hellenic;
    src: url(HellenicTypewriterTrial/HellenicTypewriterTrial-Regular.otf);
}

* {
    font-family: chromatica;
}